<a href="https://colab.research.google.com/github/JeongHunShin91/python_training/blob/main/%5Bpy%5D_T1_19_%EC%8B%9C%EA%B3%84%EC%97%B4_%EB%8D%B0%EC%9D%B4%ED%84%B03_Expected_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과
2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오.
단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함
(최종값은 소수점 반올림 후 정수 출력)

In [ ]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                 parse_dates=['Date'])
df["Date"] = pd.to_datetime(df["Date"])
df22 = df[df["Date"].dt.year == 2022]
def appl(x):
    if x["Events"] == 1 :
        x["Sales"]= x["Sales"]*0.8
    elif x["Events"] != 1 :
        x["Sales"]=x["Sales"]
    return x
df22 = df22.apply(lambda x : appl(x), axis=1)
df22 = df22.groupby(df22["Date"].dt.month)["Sales"].sum().max()
df23 = df[df["Date"].dt.year == 2023]
df23 = df23.apply(lambda x : appl(x), axis=1)
df23 = df23.groupby(df23["Date"].dt.month)["Sales"].sum().max()
round(abs(df22-df23))