<a href="https://colab.research.google.com/github/JeongHunShin91/python_training/blob/main/%5Bpy%5D_T1_6_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%A0%9C%EA%B1%B0_%EB%B0%8F_%EA%B7%B8%EB%A3%B9_%ED%95%A9%EA%B3%84_Expected_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
데이터셋 : basic1.csv

In [ ]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()
df_dropna = df.dropna(subset = ["f1"])
df_fn = df_dropna.groupby(["city","f2"]).sum()
df_fn = df_fn.loc["경기",0]["f1"]
df_fn