<a href="https://colab.research.google.com/github/JungHunShin/python_training/blob/main/python_sql_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%80%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
--oracle
--SJH
--[문항1]  R 또는 python code와 SQL을 이용하여 Oracle XE DB에 접속하여 아래 문제를 실행하고 code를 제출하시오.
--- Open book, open note
--- 대면/비대면 응시자는 카페 내 ‘평가답안제출’ 게시판에 R 또는 python code 업로드
--- R 또는 python code안에 본인의 성명을 기입
--- R 또는 python 파일명에 본인의 영문이니셜을 추가

--1. SQL developer를 이용하여 Oracle XE DB에 scott계정으로 접속하여 아래 table 을 생성하시오.
CREATE TABLE exam_table(
    id VARCHAR(50) PRIMARY KEY,
    pass VARCHAR(30) NOT NULL,
    name VARCHAR(25) NOT NULL,
    score NUMBER(3)
);  
INSERT INTO exam_table(id,pass,name,score)VALUES(1001,1234,'Kim',90);
INSERT INTO exam_table(id,pass,name,score)VALUES(1002,3456,'Lee',100);
INSERT INTO exam_table(id,pass,name,score)VALUES(1003,5678,'Park',85);
INSERT INTO exam_table(id,pass,name,score)VALUES(1004,7890,'Choi',75);

In [ ]:
--python
# [문항2]  2. Oracle XE DB에 접근하기 위한 설정
# (driver 설정, import package 또는 package loading, DB연결 등)을 하시오.
import cx_Oracle
import os

os.putenv('NLS_LANG', '.UTF8')

LOCATION = r"C:/instantclient_21_3"
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]

connect = cx_Oracle.connect("scott", "tiger", "localhost:1521/xe")
cs = connect.cursor()

# 3. exam_table 내 모든 데이터를 조회하시오.
cs.execute("SELECT * FROM exam_table")
for i in cs:
    print(i)

# 4. 아래 레코드 추가하시오.
cs.execute("INSERT INTO exam_table VALUES(1005, 2345, 'Jung', 95)")
cs.execute("INSERT INTO exam_table VALUES(1006, 4567, 'Kang', 80)")

# [문항5]  5. 추가된 레코드를 포함하여 exam_table 내 모든 데이터를 조회하시오.
cs.execute("SELECT * FROM exam_table")
for i in cs:
    print(i)

# [문항6]  6. 성적(score) 기준으로 내림차순 정렬하시오.
cs.execute("SELECT * FROM exam_table ORDER BY score desc")
for i in cs:
    print(i)

# [문항7]  7. name 이 ‘Choi’인 학생의 성적을 80점으로 수정하시오.
cs.execute("UPDATE exam_table set score = 80 WHERE name = 'choi'")
cs.execute("SELECT * FROM exam_table")
for i in cs:
    print(i)

# [문항8]  8. 성적(score)이 80점 초과인 레코드만 조회하시오.
cs.execute("SELECT * FROM exam_table where score > 80")
for i in cs:
    print(i)

# [문항9]  9. name이 ‘Kang’인 학생의 레코드를 삭제하시오.
cs.execute("DElETE FROM exam_table where name = 'Kang'")
cs.execute("SELECT * FROM exam_table")
for i in cs:
    print(i)

# [문항10]  10. 전체 레코드를 조회하시오.
cs.execute("SELECT * FROM exam_table")
for i in cs:
    print(i)